body {
  background-image: url(/images/background/00.webp);
  background-size: cover;
  background-position: center; }

.y-shaking {
  animation: horizontal-shaking 0.3s infinite; }

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }
  #intro #title h1 {
    font-size: 6rem;
    margin: 0; }
  #intro #start {
    font-family: 'Nabla', cursive;
    text-transform: uppercase; }
  #intro #users {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #999999; }

#app {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  height: 100%;
  max-width: 500px;
  margin: auto; }
  #app.hide {
    display: none; }
  #app #player {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #fff; }
    #app #player #userID {
      font-size: 14px; }
    #app #player #score {
      text-transform: uppercase; }

.form__group {
  position: relative;
  padding: 15px 0;
  margin: 10px auto; }
  .form__group .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s; }
    .form__group .form__field::placeholder {
      color: transparent; }
    .form__group .form__field:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px; }
    .form__group .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image-slice: 1; }
      .form__group .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: .7rem;
        color: #ffffff;
        font-weight: 700; }
  .form__group .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff; }

.box {
  padding: 40px;
  position: relative;
  margin: 5px; }
  .box:not(.circle) {
    border: 1px dashed #b30404; }
  .box.circle {
    border-radius: 100%; }
  .box.flip {
    -webkit-perspective: 600px;
    -moz-perspective: 600px; }
    .box.flip .front, .box.flip .back {
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 0;
      left: 0; }
    .box.flip .front {
      transform: rotateY(0deg);
      transition: all 1s;
      background-color: red; }
    .box.flip .back {
      transform: rotateY(-180deg);
      transition: all 1s;
      background-color: black; }

.temp .box {
  background: url(/images/tiles_3.png) 0 0;
  background-position: 0 400px;
  border: 0;
  padding: 20px;
  margin: 0; }
  .temp .box[data-reward] {
    background: url(/images/VNqrSy.webp) 0 0;
    background-size: 400px; }
  .temp .box[data-reward="0"] {
    background-position: -5px 95px; }
  .temp .box[data-reward="1"] {
    background-position: -155px 345px; }
  .temp .box[data-reward="2"] {
    background-position: -5px 293px; }
  .temp .box[data-reward="3"] {
    background-position: -155px 145px; }
  .temp .box[data-reward="4"] {
    background-position: -105px 145px; }
  .temp .box[data-reward="5"] {
    background-position: -55px 145px; }

.temp1 .box {
  background: url(/images/tiles_3.png) 0 0;
  background-size: 655px;
  padding: 30px;
  margin: 2px; }
  .temp1 .box[data-reward] {
    background: url(/images/VNqrSy.webp) 0 0;
    background-size: 600px; }
  .temp1 .box[data-reward="0"], .temp1 .box[data-reward="-5"] {
    background-position: -10px 140px; }
  .temp1 .box[data-reward="1"] {
    background-position: -235px -85px; }
  .temp1 .box[data-reward="2"] {
    background-position: -10px 440px; }
  .temp1 .box[data-reward="3"] {
    background-position: -232px 218px; }
  .temp1 .box[data-reward="4"] {
    background-position: -158px 218px; }
  .temp1 .box[data-reward="5"] {
    background-position: -82px 218px; }

/** temp **/
.tile0 .block0 {
  background-position: 0 0; }
.tile0 .block1 {
  background-position: -40px 0; }
.tile0 .block2 {
  background-position: -80px 0; }
.tile0 .block3 {
  background-position: 0 -40px; }
.tile0 .block4 {
  background-position: -40px -40px; }
.tile0 .block5 {
  background-position: 0 0; }

.tile2 .block0 {
  background-position: 0 440px; }
.tile2 .block1 {
  background-position: -40px 440px; }
.tile2 .block2 {
  background-position: -80px 440px; }
.tile2 .block3 {
  background-position: -160px 440px; }
.tile2 .block4 {
  background-position: -200px 440px; }
.tile2 .block5 {
  background-position: -240px 440px; }

.tile3 .block0 {
  background-position: 0 400px; }
.tile3 .block1 {
  background-position: -40px 400px; }
.tile3 .block2 {
  background-position: -80px 400px; }
.tile3 .block3 {
  background-position: -160px 400px; }
.tile3 .block4 {
  background-position: -200px 400px; }
.tile3 .block5 {
  background-position: -240px 400px; }

.tile4 .block0 {
  background-position: 0 360px; }
.tile4 .block1 {
  background-position: -40px 360px; }
.tile4 .block2 {
  background-position: -80px 360px; }
.tile4 .block3 {
  background-position: -160px 360px; }
.tile4 .block4 {
  background-position: -200px 360px; }
.tile4 .block5 {
  background-position: -240px 360px; }

/** temp 1 **/
.tile3 .block0 {
  background-position: 0px 180px; }
.tile3 .block1 {
  background-position: -60px 180px; }
.tile3 .block2 {
  background-position: -120px 180px; }
.tile3 .block3 {
  background-position: -120px 180px; }

#items {
  display: flex; }

h1, h2, h3 {
  font-family: sans-serif; }

body {
  background-color: darkgrey;
  color: #000000; }

a {
  color: #000000;
  text-decoration: none; }

.flex {
  display: flex; }

.column {
  flex-flow: column; }

.alignItemsCenter {
  align-items: center; }

.justifyContentCenter {
  justify-content: center; }

.justifyContentSpaceBetween {
  justify-content: space-between; }

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(5px); }
  50% {
    transform: translateX(-5px); }
  75% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }
.button {
  align-items: center;
  appearance: none;
  background-color: #951227;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6f0d31 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px; }
  .button:focus {
    box-shadow: #6f0d31 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6f0d31 0 -3px 0 inset; }
  .button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6f0d31 0 -3px 0 inset;
    transform: translateY(-2px); }
  .button:active {
    box-shadow: #6f0d31 0 3px 7px inset;
    transform: translateY(2px); }

@font-face {
  font-family: "Nabla-Regular";
  src: url(/fonts/Nabla/Nabla-Regular.woff); }
.fontNabla {
  font-family: 'Nabla', cursive; }

/*# sourceMappingURL=style.css.map */
