.box {
  &:not(.circle) {
    border: 1px dashed #b30404;
  }

  padding: 40px;
  position: relative;
  margin: 5px; 

  
  &:nth-child(odd){

  }


  &.circle {
    border-radius: 100%;
  }

  &.flip {
    -webkit-perspective: 600px;
	  -moz-perspective: 600px;
    
    .front, .back {
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .front {
      transform: rotateY(0deg);
      transition:  all 1s;
      background-color: red;
    }
    
    .back {
      transform: rotateY(-180deg);
      transition:  all 1s;
      background-color: black;
    }
  }  
}

.temp {
  .box {
    background: url(/images/tiles_3.png) 0 0;
    background-position: 0 400px;
    border: 0;
    padding: 20px;
    margin: 0;

    &[data-reward] {
      background: url(/images/VNqrSy.webp) 0 0;
      background-size: 400px;
    }
    
    &[data-rewards="0"] {
      background-position: -5px 95px;
    }

    &[data-rewards="1"] {
      background-position: -155px 345px;
    }

    &[data-rewards="2"] {
      background-position: -5px 293px;
    }

    &[data-rewards="3"] {
      background-position: -155px 145px;
    }

    &[data-rewards="4"] {
      background-position: -105px 145px;
    }

    &[data-rewards="5"] {
      background-position: -55px 145px;
    }
  }  
}

.temp1 {
  .box {
    background: url(/images/tiles_3.png) 0 0;
    background-size: 655px;
    padding: 30px;
    margin: 2px;

    &[data-rewards] {
      background: url(/images/VNqrSy.webp) 0 0;
      background-size: 600px;
    }
    
    &[data-rewards="0"],
    &[data-rewards="-5"] {
      background-position: -10px 140px;
    }

    &[data-rewards="1"] {
      background-position: -235px -85px;
    }

    &[data-rewards="2"] {
      background-position: -10px 440px;
    }

    &[data-rewards="3"] {
      background-position: -232px 218px;
    }

    &[data-rewards="4"] {
      background-position: -158px 218px;
    }

    &[data-rewards="5"] {
      background-position: -82px 218px;
    }
  }  
}

/** temp **/
.tile0 {
  .block0 {
    background-position: 0 0;
  }

  .block1 {
    background-position: -40px 0;
  }

  .block2 {
    background-position: -80px 0;
  }

  .block3 {
    background-position: 0 -40px;
  }

  .block4 {
    background-position: -40px -40px;
  }

  .block5 {
    background-position: 0 0;
  }
}

.tile2 {
  .block0 {
    background-position: 0 440px;
  }

  .block1 {
    background-position: -40px 440px;
  }

  .block2 {
    background-position: -80px 440px;
  }

  .block3 {
    background-position: -160px 440px;
  }

  .block4 {
    background-position: -200px 440px;
  }

  .block5 {
    background-position: -240px 440px;
  }
}

.tile3 {
  .block0 {
    background-position: 0 400px;
  }

  .block1 {
    background-position: -40px 400px;
  }

  .block2 {
    background-position: -80px 400px;
  }

  .block3 {
    background-position: -160px 400px;
  }

  .block4 {
    background-position: -200px 400px;
  }

  .block5 {
    background-position: -240px 400px;
  }
}

.tile4 {
  .block0 {
    background-position: 0 360px;
  }

  .block1 {
    background-position: -40px 360px;
  }

  .block2 {
    background-position: -80px 360px;
  }

  .block3 {
    background-position: -160px 360px;
  }

  .block4 {
    background-position: -200px 360px;
  }

  .block5 {
    background-position: -240px 360px;
  }
}

/** temp 1 **/
.tile3 {
  .block0 {
    background-position: 0px 180px;
  }

  .block1 {
    background-position: -60px 180px;
  }

  .block2 {
    background-position: -120px 180px;
  }

  .block3 {
    background-position: -120px 180px;
  }
}

#items {
  display: flex;
  
  .box {
    span {
      position: absolute;
      font-family: 'Press Start 2P', cursive;
      color: #fff;
      bottom: -5px;
    }
  }
}