body {
  background-image: url(/images/background/00.webp);
  background-size: cover;
  background-position: center;
}

.y-shaking {
  animation: horizontal-shaking 0.3s infinite;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;


  #title {
    h1 {
      font-size: 6rem;
      margin: 0;
    }
  }

  #start {
    font-family: 'Nabla', cursive;
    text-transform: uppercase;
  }

  #users {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #999999;
  }
}

#app {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  height: 100%;
  max-width: max-content;
  margin: auto;  

  &.hide {
    display: none;
  }

  #players {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #fff;

    #userID {
      font-size: 14px;
    }

    #score {
      // font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;      
    }
  }
}

.form__group {
  position: relative;
  padding: 15px 0;
  margin: 10px auto;
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
    
    &:focus {
      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: .7rem;
        color: #ffffff;
        font-weight:700;    
      }
      padding-bottom: 6px;  
      font-weight: 700;
      border-width: 3px;
      border-image-slice: 1;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff;
  }
}



